NEXT_PUBLIC_SITE_URL=
RESEND_API_KEY= // Resend API key
CONTACT_EMAIL_ADDRESS= // Email to send contact forms and calculator data
SENDER_EMAIL_ADDRESS= //no-repply@<domain, registered on resend>
REVALIDATE_SECRET= // Secret key for revalidation webhook (generate a random string)